#main {
  height: 100vh;
  width: 100%;
  background: red;
  align-items: center;
  display: flex;
  justify-content: center;
  .container {
    background: yellow;
    width: auto;
    form {
      display: flex;
      flex-direction: column;
      text-align: left;
      align-items: left;
      .title {
        font-family: "Montserrat";
        font-weight: 600;
        font-size: 50px;
        line-height: 61px;
        color: #4062ff;
        margin-bottom: 20px;
      }
      .username {
        font-family: "Montserrat";
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        margin-bottom: 4px;
      }
      input {
        height: 55px;
        width: 349px;
        text-align: left;
        padding-left: 16px;
        align-items: center;
        border-radius: 12px;
        background: #ffffff;
        box-shadow: 0px 0px 37.36px rgba(0, 0, 0, 0.05);
      }
      input::placeholder {
        font-family: "Outfit";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: rgba(111, 111, 111, 0.3);
      }
      .password {
        font-family: "Montserrat";
        font-weight: 600;
        font-size: 18px;
        margin: 20px 0 4px;
        line-height: 22px;
        color: #000000;
      }
      .forgotPassword {
        margin: 6px 0 20px;
        font-family: "Montserrat";
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        color: #000000;
        text-decoration: none;
      }
    }
  }
}
