.sendMail {
  width: 100%;
  height: 41px;
  background: linear-gradient(
    90deg,
    #3aa0ff 0%,
    #137cf9 52.76%,
    #0152f9 103.37%
  );
  margin-top: 30px;
  border-radius: 16px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}
